# Network edges

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
matches = pd.read_csv('/bgfs/mrfrank/nolan/MAG/Data/FuzzyAllAffils.csv', index_col = 0)
matches

,Affiliation name,Match,Freq,Country
0,harvard university,harvard university,643857.0,USA
1,northwestern university,northwestern university,160314.0,USA
2,seoul national university,seoul national university,53023.0,South Korea
3,johns hopkins university,johns hopkins university,261395.0,USA
4,university of washington,university of washington - seattle,291065.0,USA
...,...,...,...,...
3787,hachinohe university,hachinohe university,5.0,Japan
3788,universidad latinoamericana,universidad latinoamericana de ciencia y tecno...,8.0,Costa Rica
3789,konstfack,konstfack,4.0,Sweden
3790,bunri university of hospitality,bunri university of hospitality,3.0,Japan
3791,sias international university,national university,2.0,Philippines

In [7]:
crdf = pd.read_csv('/bgfs/mrfrank/nolan/MAG/Data/CountryRegionPairs.csv')
crdf

             Country   Region
0         Bangladesh     Asia
1             Bhutan     Asia
2             Brunei     Asia
3           Cambodia     Asia
4              China     Asia
..               ...      ...
193            Samoa  Oceania
194  Solomon Islands  Oceania
195            Tonga  Oceania
196           Tuvalu  Oceania
197          Vanuatu  Oceania

[198 rows x 2 columns]

In [9]:
bdf = pd.read_csv('/bgfs/mrfrank/nolan/MAG/Data/BroadDF_IncomingCitations.csv', index_col = 0, engine = 'python')

In [10]:
bmdf = pd.merge(bdf, matches, left_on = ['Target affiliation name'], right_on = ['Affiliation name'], how = 'left')\
         .drop(['Freq', 'Affiliation name'], axis = 1)\
         .rename(columns = {'Match':'Target match', 'Country':'Target matched country'})
bmdf2 = pd.merge(bmdf, matches, left_on = ['Source affiliation name'], right_on = ['Affiliation name'], how = 'left')\
          .drop(['Freq','Affiliation name'], axis = 1)\
          .rename(columns = {'Match':'Source match', 'Country':'Source matched country'})

In [11]:
bmdfs = pd.merge(bmdf2, crdf,left_on = 'Source matched country', right_on = 'Country', how = 'left')\
          .drop('Country', axis = 1).rename(columns = {'Region':'Source matched region'})
bmdfs = pd.merge(bmdfs, crdf,left_on = 'Target matched country', right_on = 'Country', how = 'left')\
          .drop('Country', axis = 1).rename(columns = {'Region':'Target matched region'})
bmdfs

,Source ID,Source title,Source year,Source author ID,Source author name,Source affiliation ID,Source affiliation name,Source country,Source region,Target ID,...,Target affiliation ID,Target affiliation name,Target country,Target region,Target match,Target matched country,Source match,Source matched country,Source matched region,Target matched region
0,2128842006,matgene a program to develop job exposure matr...,2011.0,1909169687,ellen imbernon,1298580462,institut de veille sanitaire,NaN,NaN,2095654660,...,85905123,institut national de recherche et de securite,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2128842006,matgene a program to develop job exposure matr...,2011.0,2578938033,joelle fevotte,1298580462,institut de veille sanitaire,NaN,NaN,2095654660,...,85905123,institut national de recherche et de securite,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2128842006,matgene a program to develop job exposure matr...,2011.0,1927522932,m houot,1298580462,institut de veille sanitaire,NaN,NaN,2095654660,...,85905123,institut national de recherche et de securite,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2128842006,matgene a program to develop job exposure matr...,2011.0,2028179368,l delabre,1298580462,institut de veille sanitaire,NaN,NaN,2095654660,...,85905123,institut national de recherche et de securite,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2128842006,matgene a program to develop job exposure matr...,2011.0,2036582966,l garras,1298580462,institut de veille sanitaire,NaN,NaN,2095654660,...,85905123,institut national de recherche et de securite,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113608683,2114855136,against conventional wisdom when the public th...,2013.0,2608402427,miao liu,223532165,university of utah,USA,North America,2095490855,...,4604,NaN,NaN,NaN,NaN,NaN,university of utah,USA,North America,NaN
113608684,1521860557,a historical analysis of public school sex edu...,2009.0,2021306421,valerie huber,4604,NaN,NaN,NaN,2095490855,...,4604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113608685,84266407,a history of sex education in the united state...,2014.0,2054478591,michael w firmin,169138485,cedarville university,NaN,NaN,2095490855,...,4604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113608686,84266407,a history of sex education in the united state...,2014.0,2261696192,valerie j huber,4604,NaN,NaN,NaN,2095490855,...,4604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113608687,2020973226,mind the gaps hidden purposes and missing inte...,2013.0,2699730495,celeste m condit,4604,NaN,NaN,NaN,2095490855,...,4604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
bdf2 = bmdfs[['Source ID', 'Source title', 'Source year', 'Source match', 'Source matched country', 'Source matched region', 
             'Target ID', 'Target title', 'Target year', 'Target match', 'Target matched country', 'Target matched region']]\
        .drop_duplicates()

In [17]:
bdf2.to_csv('/bgfs/mrfrank/nolan/MAG/Data/Broad_MatchAffilNetwork.csv')